# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
app/src/*.crx
*.jar
*.apk
*.zip
*.tar.gz
/build/
/gradle/
/.gradle/
/app/libs/
app/src/EPCNNFBJFCGPHGDMGGKAMKMGOJDAGDNN_25_2_0_0.crx
app/chrome-linux64/
